#main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#header {
  font-size: 24px;
}

#cvs {
  width: 256px;
  height: 256px;
  border: 1px solid #000000;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px black) drop-shadow(1px -1px 1px black)
    drop-shadow(-1px 1px 1px black) drop-shadow(-1px -1px 1px black);
  display: block;
}

#clear-button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
}

#undo-button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}
#redo-button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
#marker-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#thin-marker-button,
#thick-marker-button {
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
}

#thin-marker-button.active,
#thick-marker-button.active {
  background-color: #e68a00;
}

.sketchpad-container {
  cursor: none;
}

canvas.active {
  cursor: crosshair;
}

/* reference: https://stackoverflow.com/questions/76316492/custom-circle-cursor-with-hover-state-where-the-circle-is-filled-css-html-javasc */

.thin-marker {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23000000" width="6px" height="6px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
    10 10,
    auto;
}

.thick-marker {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000" stroke="%23000000" width="12px" height="12px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
    10 10,
    auto;
}
