#main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

#header {
  font-size: 24px;
}

#cvs {
  width: 256px;
  height: 256px;
  border: 1px solid #000000;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px black) drop-shadow(1px -1px 1px black)
    drop-shadow(-1px 1px 1px black) drop-shadow(-1px -1px 1px black);
  display: block;
}

img {
  width: 24px;
  height: 24px;
}

#clear-button,
#undo-button,
#redo-button,
#thin-marker-button,
#thick-marker-button,
#add-sticker-button {
  height: 100%;
  margin-top: 10px;
  padding-top: 5px;
  border: 10px medium black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

#clear-button:hover,
#undo-button:hover,
#redo-button:hover,
#thin-marker-button:hover,
#thick-marker-button:hover,
.sticker-button:hover,
#add-sticker-button:hover,
#export-button:hover {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#thin-marker-button.active,
#thick-marker-button.active {
  background-color: #e9e9e9;
}

.sketchpad-container {
  cursor: none;
}

canvas.active {
  cursor: crosshair;
}

/* reference: https://stackoverflow.com/questions/76316492/custom-circle-cursor-with-hover-state-where-the-circle-is-filled-css-html-javasc */

.thin-marker {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="%23000000" width="6px" height="6px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
    10 10,
    auto;
}

.thick-marker {
  cursor:
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000000" stroke="%23000000" width="12px" height="12px" viewBox="0 0 10.04 10.04"><circle cx="5.02" cy="5.02" r="4.52"/></svg>')
    10 10,
    auto;
}

#thin-marker-button.red, #thick-marker-button.red {
  background-color: red;
}

#thin-marker-button.orange, #thick-marker-button.orange {
  background-color: orange;
}
#thin-marker-button.yellow, #thick-marker-button.yellow {
  background-color: yellow;
}
#thin-marker-button.green, #thick-marker-button.green {
  background-color: green;
}
#thin-marker-button.blue, #thick-marker-button.blue {
  background-color: blue;
}
#thin-marker-button.purple, #thick-marker-button.purple {
  background-color: purple;
}
#thin-marker-button.pink, #thick-marker-button.pink {
  background-color: pink;
}
#thin-marker-button.black, #thick-marker-button.black {
  background-color: #e9e9e9;
}

.sticker-marker {
  cursor: crosshair;
}

.sticker-button {
  font-size: 24px;
  border: 10px medium black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 5px;
  padding-bottom: 5px;
}

.sticker-button.active {
  background-color: #e9e9e9;
}

#export-button {
  font-size: 16px;
  padding: 5px 10px;
  border: 10px medium black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin: 5px;
}
